DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/yourdatabase"

JWT_SECRET=your_jwt_secret
JWT_EXPIRY=1d
JWT_REFRESH=your_jwt_refresh
JWT_REFRESH_EXPIRY=7d

PORT=3000
NODE_ENV=development

EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-password

CLIENT_DOMAIN=https://your-production-domain.com

COMPANY_NAME=Your Company Name